body{
  width: 100vw;
  height: 100vh;
  align-content: center;
  
}

.container{
  width: fit-content;
  display: flex;
  margin: 0 auto;

  @media(width< 783px){
    flex-direction: column;
    align-items: center;
  }
}


.box{
  width: 500px;
  padding: 4%;
  border: 4px solid #000;

  .box-img{
    --height: 500px;
    min-height: var(--height);
    max-height: var(--height);
    border: 1px solid #000;
    position: relative;

    & > img{
      max-width: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
  
}


.button-container{
  padding-top: 1.5em;
  display: flex;
  width: fit-content;
  margin: 0 auto;

  & > button[type='button']{
    border: none;    
    background-color: #121212;
    color: #fff;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 1em;
    flex-shrink: 0;
      
  }
}
